*{
    margin:0%;
    padding:0%;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #FFA07A;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    box-shadow: 0px 0px 10px #000;
}
.tabs ul{
    margin:0;
    padding:20;
    list-style: none;
    height:60px;
    margin-left: 40%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.tabs ul li{
 
    display: inline-block;
}
.tabs ul li a{
    display: block;
    padding:10px 28px;
    color:white;
    text-decoration: none;
    transition: 1s all;
}
.tabs a:hover, .active a{
    color:yellow;
    background-color: gray;
    border-radius: 10px;
}
.tabs a:hover::after{
    content: '';
    display:block;
    width: 100%;
    height: 2px;
    background-color: yellow;
}
.logo img{
 
    padding: 10px 0 0 10px;
    width: 200px;
    height: 70px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 30px;
    float:left;
    object-position: top;
    image-rendering: optimizeQuality ;
}
.bg{
    height: 650px;
    width: 100%;
    display: flex;
}
.bg-lft{
    height: 400px;
    width: 50%;
    margin: 70px 0 0 30px;
    padding-top: 100px;
    background-image:url(../images/donate\ us.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: optimizeQuality;
}
.bg-rgt{
    margin-left:50px ;
}
.contact-txt{
    float:right;
    margin:50px 150px 0 0;
}
.contact-txt h1{
    text-align: center;
    color:#C5D9FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: dotted;
    text-transform: uppercase;
    font-size: 60px;
}
form{
    margin-top: 50px;
}
.contact-form textarea{
    resize: none;
}
.form-controll{
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid gray;
    color:gray;
    font-size: 18px;
    margin-bottom:50px;
}
form .submit{
    background: #DAEBE8;
    border-color: transparent;
    color:#fff;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    border-radius: 10px;
    box-shadow:  0px 3px 10px 0px rgb(32 33 36 / 100%);
}
form .submit:hover{
    background-color: #93e7d8;
}
.payment{
    height:300px;
    background-position: center;
}
.payment-txt{
    height: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color:goldenrod;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.payment-img{
    height: 400px;
    width: 100%;
    background-position: center;
    text-align: center;
}
.payment-img img{
    height: 100px;
    width:120px;
    margin: 70px 20px 0 20px;
    right:50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.payment-img img:hover{
    cursor: pointer;
    transition:all 2s ease-in-out;
}
.footer{
    height: 400px;
    background-color: rgb(10, 10, 10);
}
.donate img, .fa img{
    height: 150px;
    width: 350px;
    background-size:contain ;
    background-repeat: no-repeat;
    float:left;
    object-position: top;
    image-rendering:crisp-edges ;
    margin: 30px;
}
.socialtxt h3{
    color:#fff;
    text-align: center;
    padding: 50px 30 30 30;
    font-size: 30px;
    text-transform: uppercase;
}
.socialbtns{
    float:right;
    height: 40px;
    width: 390px;
}
.facebook img{
    height: 50px;
    width: 50px;
    background-size:contain;
    background-repeat:no-repeat;
    float:center;
    image-rendering: optimizeQuality;
    margin:10px;
}
.copyright{
    height: 80px;
    width: 100%;
    float:left;
    margin-top: 50px;
}
.copyright h2,h3{
    bottom:0px;
    object-position: bottom;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
.top{
    height: 50px;
    width: 40px;
    float:right;
    margin-right: 20px;
}
.top h1{
    text-align: center;
    float: right;
    margin: 0 10px 5px 0;
    color:white;
    text-decoration: none;
}
.top:hover{
    border: 1px solid white;
    border-radius: 2px;
    transition: 1s ease-in-out;
}